.sideBarFilter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 72px;
  height: 100%;
  position: absolute;
  z-index: 1300;
  top: 0;
  right: 0;
  background-color: #ffffff;
  transition: width 200ms ease-in;
  will-change: width;
  padding: 16px 0 16px 0;
  transition: width 200ms ease-out;
  border-left: 1px solid #e8ebf4;
  max-height: calc(100vh - 90px);
}
.sideBarFilter_iconSpirits {
  width: 40px;
  height: 48px;
  flex: 0 0 48px;
  font-size: 40px;
  line-height: 26px;
}
.sideBarFilter_open {
  width: 376px;
  box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.1);
  transition: width 200ms ease-out;
}
.sideBarFilter_open_apply {
  background-color: #4c5568 !important;
  margin-top: 10px;
  width: calc(100% + 30px) !important;
  height: 48px !important;
}
.sideBarFilter_open_apply p {
  color: white;
}
.sideBarFilter_wrapperfilterIcon {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.sideBarFilter_lock {
  color: #818ba3;
}
.sideBarFilter_lock_isLocked {
  color: #f03e44;
}
.sideBarFilter_separator {
  width: 40px;
  height: 1px;
  background: #e8ebf4;
}
.sideBarFilter_wrapperCalendar {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 84px;
  justify-content: center;
}
.sideBarFilter_wrapperCalendar_date {
  line-height: 26px !important;
}
.sideBarFilter_filter {
  width: 100%;
  position: relative;
  padding: 15px 0;
}
.sideBarFilter_filter:hover {
  cursor: pointer;
  background-color: #f7f8fc;
}
.sideBarFilter_filter:hover label {
  cursor: pointer;
}
.sideBarFilter_filter_open {
  background-color: #f7f8fc !important;
}
.sideBarFilter_filter_openFilter {
  padding: 10px;
  width: 368px;
  position: absolute;
  left: -368px;
  top: -15px;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(129, 139, 163, 0.25), 0 1px 2px 0 rgba(129, 139, 163, 0.5);
}
.sideBarFilter_filter_openFilter:after {
  content: "";
  right: -15px;
  top: 18px;
  position: absolute;
  border: 9px solid transparent;
  border-left: 9px solid #ffffff;
}

.upperCase {
  text-transform: uppercase;
}

.wrapper-filterComponents {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
  width: 100%;
}
.wrapper-filterComponents[data-typeview=column] {
  flex-direction: column;
  align-items: flex-start;
  margin-top: 15px;
}
.wrapper-filterComponents_label {
  line-height: 24px;
}
.wrapper-filterComponents_label[data-typeview=column] {
  margin-left: 8px;
  margin-bottom: 2px;
}

.picky {
  width: 200px;
  position: relative;
}
.picky[data-typeview=column] {
  width: 100%;
}
.picky[aria-expanded=true] .picky__input {
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
.picky[aria-expanded=true] .picky__input:after {
  border-bottom: 4px solid;
  border-top: unset;
}

.picky * {
  box-sizing: border-box;
}

.picky__input {
  width: 100%;
  background-color: #f1f3f4;
  border: 0;
  border-width: 1px;
  border-color: #eee;
  border-style: solid;
  border-radius: 2px 2px 0px 0px;
  padding-left: 13px;
  text-align: left;
  position: relative;
  box-sizing: border-box;
  height: 40px;
  outline: none;
}

.picky__placeholder {
  color: #22252a;
  font-size: 15px;
  font-family: Open Sans;
}

.picky__input--disabled,
.picky__input--disabled + .picky__dropdown .option {
  opacity: 0.3;
}

.picky__input::after {
  position: absolute;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: "";
  right: 16px;
  top: 16px;
  color: #64686d;
}

.picky__dropdown {
  overflow-x: hidden;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
  width: 100%;
  position: absolute;
  top: 39px;
  left: 0;
  z-index: 99;
  background: white;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  background: #ffffff;
  border-radius: 4px;
}

.containerSideBarItems .picky__dropdown {
  left: unset;
  right: 0px;
  width: 149%;
}
.containerSideBarItems .wrapperCheckbox {
  width: 276px;
  overflow-wrap: unset;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.picky__dropdown .option,
.picky__dropdown li {
  list-style: none;
  background-color: white;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
  padding: 11px 11px;
  cursor: pointer;
  text-align: left;
}

.picky__dropdown .option.selected,
.picky__dropdown li.selected {
  background-color: #ecf0f1;
}

.picky__dropdown .option:focus,
.picky__dropdown li:focus {
  outline: -webkit-focus-ring-color auto 5px !important;
}

.picky__dropdown .option input[type=checkbox],
.picky__dropdown .option input[type=radio],
.picky__dropdown li input[type=checkbox],
.picky__dropdown li input[type=radio] {
  margin-right: 3px;
}

.picky__filter {
  display: flex;
  width: 100%;
  align-items: center;
  background-color: #f2f4f7;
  height: 41px;
  border-top: 1px solid #e8ebf4;
  border-bottom: 1px solid #e8ebf4;
}

.picky__filter__input {
  width: 100%;
  padding: 3px;
  border: none;
  display: inline-block;
  border-radius: 4px;
  position: relative;
  height: 30px;
  background-color: #f2f4f7;
}

.picky__wrapperFilters {
  border-bottom: 1px solid #e8ebf4;
  padding-bottom: 15px;
}

.wrapperCheckbox {
  position: relative;
  padding-left: 33px;
  cursor: pointer;
  font-size: 16px;
  color: #414549;
  width: 100%;
  overflow-wrap: break-word;
  margin-bottom: 0;
}
.wrapperCheckbox input {
  position: absolute;
  height: 0;
  width: 0;
  opacity: 0;
}
.wrapperCheckbox_label {
  position: absolute;
  top: 2px;
  left: 0;
  height: 18px;
  width: 18px;
  border-radius: 2px;
  box-sizing: border-box;
  border: 1px solid #b6b9c1;
  background-color: #f7f8fc;
}
.wrapperCheckbox_label:after {
  content: "";
  position: absolute;
  display: none;
  left: 6px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.wrapperCheckbox input.selected ~ .wrapperCheckbox_label {
  border: none;
  background-color: #f03e44;
}

.wrapperCheckbox input.selected ~ .wrapperCheckbox_label:after {
  display: block;
}

.buttonGroup-sideBar {
  position: relative;
}
.buttonGroup-sideBar p {
  text-transform: capitalize;
}
.buttonGroup-sideBar button:first-child {
  border-radius: 4px 0px 0px 4px;
}
.buttonGroup-sideBar button:last-child {
  border-radius: 0px 4px 4px 0px;
}
.buttonGroup-sideBar:after, .buttonGroup-sideBar:before {
  content: "";
  position: absolute;
  height: 16px;
  width: 2px;
  background: linear-gradient(270deg, rgba(245, 247, 250, 0) 0%, #e1e5ee 100%);
  top: 10px;
}
.buttonGroup-sideBar:before {
  opacity: 0;
}
.buttonGroup-sideBar[separator="0"]:after {
  left: 230px;
}
.buttonGroup-sideBar[separator="1"]:after {
  opacity: 0;
}
.buttonGroup-sideBar[separator="2"]:after {
  left: 115px;
}
.buttonGroup-sideBar[separator="-1"]:after {
  left: 115px;
}
.buttonGroup-sideBar[separator="-1"]:before {
  opacity: 1;
  left: 230px;
}
.buttonGroup-sideBar button {
  color: #626C83;
  font-weight: 600;
}
.buttonGroup-sideBar button p {
  font-weight: 600;
}
.buttonGroup-sideBar button:hover p {
  color: #22252A;
}

.wrapper-filterTime {
  z-index: 2;
  position: absolute;
  height: 56px;
  width: 368px;
  left: -378px;
  display: flex;
  align-items: center;
  padding: 0px 10px;
  box-shadow: 0 4px 8px 0 rgba(129, 139, 163, 0.25), 0 1px 2px 0 rgba(129, 139, 163, 0.5);
  background-color: #ffffff;
  top: -1px;
  border-radius: 5px;
}
.wrapper-filterTime:before {
  z-index: 2;
  content: "";
  width: 6px;
  height: 6px;
  position: absolute;
  right: -3px;
  transform: rotate(45deg);
  background-color: #ffffff;
}
.wrapper-filterTime:after {
  z-index: 1;
  content: "";
  width: 6px;
  height: 6px;
  background-color: #ffffff;
  transform: rotate(45deg);
  position: absolute;
  right: -3px;
  box-shadow: 4px 0px 4px -1px rgba(129, 139, 163, 0.65);
}

.containerSideBarItems {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.containerSideBarItems_open {
  padding: 0px 15px;
}
.containerSideBarItems_open_wrapperScroll {
  overflow-y: scroll;
  width: calc(100% + 30px);
  height: calc(100vh - 414px);
  margin-top: 10px;
  padding-right: 35px;
  padding-left: 15px;
}
.containerSideBarItems_open_wrapperScroll div.wrapper-filterComponents:first-child {
  margin-top: 0px;
}
.containerSideBarItems_open_iconsWrapper {
  width: 100%;
  display: flex;
}

.wrapperBottomItemDrinks {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapperBottomItemDrinks:hover {
  cursor: pointer;
  background-color: #f7f8fc;
}
.wrapperBottomItemDrinks .sideBarFilter_filter {
  padding-top: 0px;
  padding-bottom: 10px;
}